/* src/styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#wrapper {
    width: 45%;
    margin: auto;
    overflow-y: auto;
    max-width: 600px;
}

#names {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#input-div {margin: auto;}

ion-card, ion-button {margin-top: 20px;}

#input-div {margin-top: 15px;}

ion-input {text-align: left;}